@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f39616;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #cccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m:30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}

ul {
    list-style: none;
}


header {
    background: var(--primary-color);
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
}

.navbar .nav-menu .nav-item .nav-link {
    color: var(--white-color);
}